@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integritetspolicy";
}
<h1>@ViewData["Title"]</h1>

<p class="center-text">Vi på InventoryManagement AB värnar om din integritet och är fast beslutna att skydda dina personuppgifter. Denna integritetspolicy förklarar hur vi samlar in, använder och skyddar din information i enlighet med gällande dataskyddslagar, inklusive GDPR.</p>

<h2>1. Vilken information samlar vi in?</h2>
<p class="center-text">Vi samlar in följande typer av personuppgifter:</p>
<ul class="center-text">
    <ul>Namn</ul>
    <ul>E-postadress</ul>
    <ul>Telefonnummer</ul>
    <ul>IP-adress</ul>
</ul>

<h2>2. Hur använder vi din information?</h2>
<p class="center-text">Vi använder din information för att:</p>
<ul class="center-text">
    <ul>Tillhandahålla och förbättra våra tjänster</ul>
    <ul>Skicka nyhetsbrev och erbjudanden som kan vara av intresse för dig</ul>
    <ul>Kommunicera med dig angående dina frågor och feedback</ul>
</ul>

<h2>3. Dela vi din information?</h2>
<p class="center-text">Vi delar inte din information med tredje parter utan ditt samtycke, såvida vi inte är skyldiga att göra det enligt lag.</p>

<h2>4. Dina rättigheter</h2>
<p class="center-text">Du har rätt att begära åtkomst till, rättelse av eller radering av dina personuppgifter. Du kan också invända mot behandlingen av dina uppgifter eller begära begränsning av behandlingen.</p>

<h2>5. Cookies</h2>
<p class="center-text">Vi använder cookies för att förbättra din användarupplevelse. Du kan hantera dina cookie-inställningar i din webbläsare.</p>

<h2>6. Kontakta oss</h2>
<p class="center-text">Om du har frågor om denna integritetspolicy eller hur vi hanterar dina personuppgifter, vänligen <a class="center-text" href="/AboutUs#team-section">Kontakta oss.</a></p>

<p class="center-text">Denna policy uppdaterades senast den 08-10-2024.</p>

