@page
@model InventoryManagementApplication.Pages.LogModel
@{
}

<div>
    <p>Logg</p>
</div>


@* Förnamn Efternamn, anställningsnummer, antal förflyttningar, datum senast personen har ändrat något  *@