@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ditt konto innehåller personuppgifter som du har gett oss. Denna sida gör det möjligt för dig att ladda ner eller ta bort dessa uppgifter.</p>
        <p>
            <strong>Att ta bort dessa uppgifter kommer permanent att ta bort ditt konto, och detta kan inte återställas.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Ladda ner</button>
        </form>
        @if (!User.IsInRole("Admin"))
        {
            <div><a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Ta bort</a></div>
        }

    </div>
</div>
