@page
@model InventoryManagementApplication.Pages.admin.tracker.moveProductModel

@{
    ViewData["Title"] = "Create";

}

<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">

            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Flytta produkt</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <input type="hidden" asp-for="SelectedInventoryTracker.Id" />
@*                         <input type="hidden" asp-for="SelectedInventoryTracker.Product.Id" />
                        <input type="hidden" asp-for="SelectedInventoryTracker.Id" /> *@

                        <div class="mb-3">
                            <label asp-for="InventoryTracker.ProductId" class="form-label">Produkt</label>
                            <input value="@($"{Model.SelectedInventoryTracker.Product.Name} | Antal: {Model.SelectedInventoryTracker.Quantity}")" class="form-control" readonly />
                        </div>

                        <div class="mb-3">
                            <label asp-for="InventoryTracker.StorageId" class="form-label">Från lagerplats</label>
                            <input asp-for="SelectedInventoryTracker.Storage.Name" class="form-control" readonly />
                        </div>

                        <div class="mb-3">
                            <label asp-for="InventoryTracker.StorageId" class="form-label">Till lagerplats</label>
                            <select asp-for="InventoryTracker.StorageId" class="form-select" asp-items="Model.StorageSelectList"></select>
                        </div>

                        <div class="mb-3">
                            <label asp-for="InventoryTracker.Quantity" class="form-label">Antal</label>
                            <input asp-for="InventoryTracker.Quantity" class="form-control" required="" />
                            <span asp-validation-for="InventoryTracker.Quantity" class="text-danger"></span>
                        </div>

                        <div class="d-flex">
                            <input type="submit" value="Flytta" class="btn btn-primary me-2" />
                            <a asp-page="Index" class="btn btn-secondary">Tillbaka till lista</a>
                        </div>

                        <div class="alert-info mt-3">@Model.StatusMessage</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

