@using Microsoft.AspNetCore.Identity
@using InventoryManagementApplication.Areas.Identity.Data

@inject SignInManager<InventoryManagementUser> SignInManager
@inject UserManager<InventoryManagementUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);
    <ul class="navbar-nav"> 
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="@currentUser.ProfilePic" alt="Profile Picture" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;" />@UserManager.GetUserName(User)!
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Hantera konto</a>
            </li>
            <li>
                <form id="logoutForm" class="d-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button id="logout" type="submit" class="dropdown-item border-0">Logga ut</button>
                </form>
            </li>
        </ul>
    </li>
    </ul>
}

