@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Nekad åtkomst";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Du har inte tillgång till den här sidan!</p>
</header>
