@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrering";
}

<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<div class="d-flex justify-content-center align-items-center">
    <h1 class="registration-title">@ViewData["Title"]</h1>
</div>

<div id="registerContainer"data-check-url="@Url.Page("/Account/Register", "CheckEmployeeNumberExists")">
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="Förnamn" />
                        <label asp-for="Input.FirstName">Förnamn</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="Efternamn" />
                        <label asp-for="Input.LastName">Efternamn</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>


                    <div class="form-floating mb-3 d-flex align-items-center">
                        <input asp-for="Input.EmployeeNumber" class="form-control me-2" id="employeeNumber" aria-required="true" placeholder="Anställningsnummer" readonly />
                        <label asp-for="Input.EmployeeNumber">Anställningsnummer</label>
                        <button id="generateEmployeeNumberButton" type="button" class="btn btn-generic mt-2">Generera</button>
                    </div>
                    <span asp-validation-for="Input.EmployeeNumber" class="text-danger"></span>


                    <button id="registerSubmit" type="submit" class="w-100 btn btn-generic" style="margin-top: 20px">Registrera</button>

                    @if (!string.IsNullOrEmpty(Model.StatusMessage))
                    {
                        <div class="mt-3 alert alert-success">
                            @Html.Raw(Model.StatusMessage)
                        </div>
                    }

                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/registerUser.js" asp-append-version="true"></script>
}
