@page
@model InventoryManagementApplication.Pages.admin.storage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">

            <div class="card shadow-sm">
                <div class="card-create-title">
                    <h4 class="mb-0">Lägg till ny lagerplats</h4>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="mb-3">
                            <label asp-for="Storage.Name" class="form-label">Namn</label>
                            <input asp-for="Storage.Name" class="form-control" required data-bs-toggle="tooltip" title="Ange namn"/>
                            <span asp-validation-for="Storage.Name" class="text-danger  d-none"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Storage.MaxCapacity" class="form-label">Antal platser</label>
                            <input asp-for="Storage.MaxCapacity" class="form-control" min="0" required />
                            <span asp-validation-for="Storage.MaxCapacity" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Storage.CurrentStock" value="0" />

                        <input type="hidden" asp-for="Storage.Created" value="@DateTime.Now" />

                        <div class="d-flex">
                             <a asp-page="Index" class="custom-secondary-btn">Tillbaka till lista</a>
                            <input type="submit" value="Lägg till" class="add-object" />
                        </div>
                        @if (TempData["StatusMessageError"] != null)
                        {
                            <div class="mt-3 alert alert-danger">
                                @TempData["StatusMessageError"]
                            </div>
                        }

                        @if (TempData["StatusMessageSuccess"] != null)
                        {
                            <div class="mt-3 alert alert-success">
                                @TempData["StatusMessageSuccess"]
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
   <script src="~/js/tooltipvalidationadvanced.js"></script>
}