@page
@model InventoryManagementApplication.Pages.admin.storage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Redigera lagerplats</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <input type="hidden" asp-for="Storage.Id" />
                        <input type="hidden" asp-for="Storage.IsDeleted" />

                        <div class="mb-3">
                            <label asp-for="Storage.Name" class="form-label">Namn</label>
                            <input asp-for="Storage.Name" class="form-control" />
                            <span asp-validation-for="Storage.Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Storage.MaxCapacity" class="form-label">Max antal platser</label>
                            <input asp-for="Storage.MaxCapacity" class="form-control" />
                            <span asp-validation-for="Storage.MaxCapacity" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Storage.CurrentStock" class="col-form-label">Nuvarande produkter</label>
                            <input asp-for="Storage.CurrentStock" class="form-control" readonly />
                        </div>

                        <input type="hidden" asp-for="Storage.Created" />

                        <input type="hidden" asp-for="Storage.Updated" value="@DateTime.Now" />

                        <div class="d-flex">
                            <input type="submit" value="Spara" class="btn btn-primary me-2" />
                            <a asp-page="Index" class="btn btn-secondary">Tillbaka till lista</a>
                        </div>
                        <div class="mt-3 alert-danger">@Model.StatusMessage</div>
                        <div class="mt-3 alert-success">@Model.StatusMessage1</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
