
.btn-generic {
  background-color: rgb(39, 62, 125) !important;
  border: 2px solid rgb(39, 62, 125) !important;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #f8f7f7 !important;
  min-width: 100px;
}

.btn-generic:hover{
  background-color: rgb(49, 78, 156) !important;
  border: 2px solid rgb(49, 78, 156) !important;
  color: #f8f7f7 !important;
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container {
  padding: 24px; 
}

.card {
  margin-bottom: 16px; 
  padding: 24px; 
}

.product-details-list ul {
  list-style: none;
  padding: 0;
}

.product-details-list li {
  padding-bottom: 10px;
  font-size: 1.1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 10px;
  padding: 10px 15px;
  border: 1px solid rgb(39, 62, 125);
  border-radius: 5px;
  color:rgb(39, 62, 125);
  text-decoration: none;
}

.pagination a:hover {
  background-color: rgb(39, 62, 125);
  color: white;
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
}
