a {
  color: white;
}

table tbody tr {
  height: 40px;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table th,
.table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-container .btn {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 1rem;
}

.clear-logs {
  padding: 5px 10px;
  padding-left: 10px;
}

.input-group-text {
  border: none;
  border-radius: 0 0.375rem 0.375rem 0;
}
