.card-header {
  padding: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

h5.show-data {
  color: rgb(54, 54, 54);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
}

h5.show-data:hover {
  color: rgb(151, 150, 150);
  text-decoration: none;
}

.bg-primary {
  background-color: #007bff !important;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.card {
  min-height: 450px;
  border-radius: 10px;
  border: none;
  flex: 1;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-body .card {
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.card-body a {
  text-decoration: none;
  color: inherit;
}

.card-body a:hover {
  text-decoration: none;
}
