
    a.custom-link {
        text-decoration: none; 
        color: inherit; 
        font-weight: bold; 
    }

    a.custom-link:hover {
        background-color: #f0f0f0; 
        border-radius: 5px;
        padding: 2px 5px; 
        text-decoration: none; 
        cursor: pointer; 
        transition: background-color 0.2s ease-in-out; 
    }

.table-bordered th, .table-bordered td {
    border: 2px solid #dee2e6; 
    padding: 12px;
    background-color: #f9f9f9;
  }

  .table th {
    background-color: #343a40; /* Mörkare rubrikbakgrund */
    color: white; /* Vit text på rubrikerna */
    font-weight: bold;
    text-align: center; /* Centrerar rubriker */
}

  

  a.custom-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    display: inline-block;
    padding: 2px 5px;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  a.custom-link:hover {
    background-color: #8f8d8d;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .input-group {
    max-width: 700px;
  }
  

  button#toggleAll, button[data-bs-target="#cheatsheetModal"] {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  button#toggleAll:hover, button[data-bs-target="#cheatsheetModal"]:hover {
    background-color: #5a6268;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

  button#clearSearch {

    border: 1px solid #ced4da;
margin-top:10px;
    background-color: #f44336;
    color: white;
   
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button#clearSearch:hover {
    background-color: #d32f2f;
  }

.input-group-text
{
margin-top:10px;

}
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination a, .pagination span {
    margin: 0 10px;
    padding: 10px 15px;
    border: 1px solid #6c757d;
    border-radius: 5px;
    color: #6c757d;
    text-decoration: none;
  }
  
  .pagination a:hover {
    background-color: #555d64;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  button {
    margin-left: 1px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  button:hover {
    background-color: #555d64;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
#helpButton {
  text-align: center;
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  background-color:#6c757d;
  border:none;

  margin-left:10px ;
  margin-top:12px;
}



#helpButton i {
  margin: 0;
  font-size: 1rem; /* Ändra ikonens storlek */
  min-width: 20px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:   #6c757d;
  color:white;
}

/* Hover-effekt för hjälpknappen */
#helpButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}