html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.avatar-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap;
    gap:10px;
    width: 850px;
}

.avatar{
    padding:8px;
    margin: 2px;
    background-color:lightgrey;
}
.current-avatar {
    background-color: limegreen;
    padding: 8px;
    margin: 2px;
}
.current-avatar:hover{
    background-color: darkgreen
}
.avatar:hover{
    background-color:darkgrey;
}
.clicked-avatar {
    background-color: steelblue;
    padding: 8px;
    margin: 2px;
}

.clicked-avatar:hover {
    background-color: steelblue;
    padding: 8px;
    margin: 2px;
}

.button-container{
    width:300px;
    display:flex;
    flex-direction:row;
    justify-content:space-around
}

