.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    transition: 0.5s;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
}

.sidebar-content {
    padding: 15px;
    background-color: #fff;
}

#helpPopup {
    display: none; 
}

table th {
    display: table-cell; 
}

.employee-number {
    cursor: pointer; 
    transition: color 0.3s ease; 
}

.employee-number:hover {
    color: darkblue; 
    text-decoration: underline;
}

#tooltip {
    cursor: pointer;
}

    #tooltip:hover {
        color: darkblue;
        text-decoration: underline;
    }


